{% extends "base.html" %}

{% block head %}
    <title>充值-群易播</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pay.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}">
{% endblock %}

{% block content %}
<div class="pay-panel">
    <div class="pay-item">
        <span class="pay-item-label">账户余额：</span>
        <span>{{user.money | int}}</span>
    </div>

    <div class="pay-amount">
        <div>充值金额</div>
            <ul class="pay-amount-list">
                <li data-amount="1">1元</li>
                <li data-amount="5">5元</li>
                <li data-amount="10">10元</li>
                <li data-amount="50">50元</li>
                <li data-amount="100">100元</li>
                <li><input type="text" pattern="\d*" placeholder="其他"></li>
            </ul>
    </div>

    <div class="pay-action">
        <button onclick="callpay()">充值</button>
    </div>

</section>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        var signature = "{{signature.signature}}";
        var noncestr = "{{signature.noncestr}}";
        var timestamp = {{signature.timestamp}};
    </script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pay.js') }}"></script>
{% endblock %}